[submodule "vdc"]
	path = vdc
	url = https://github.com/DITAS-Project/tub-mock-vdc
[submodule "dal"]
	path = dal
	url = https://github.com/DITAS-Project/tub-mock-dal
[submodule "client"]
    path = client
    url = https://github.com/dergeh/DITAS-Example-App
[submodule "DITAS-Example-App"]
	path = client
	url = https://github.com/dergeh/DITAS-Example-App
