[submodule "Cassandra"]
	path = Cassandra
	url = https://github.com/DITAS-Project/Cassandra-OpenTracing
[submodule "VDCMonitor"]
	path = VDCMonitor
	url = https://github.com/DITAS-Project/VDC-Throughput-Agent
[submodule "vdc-agent"]
	path = vdc-agent
	url = https://github.com/DITAS-Project/VDC-Logging-Agent
